.about {
  margin-top: 100px;
  width: 90%;
  min-height: 80vh;
  display: block;
}

.about:before {
  content: "";
  display: block;
  width: 100vw;
  height: 46vw;
  -webkit-transform: rotate(-40deg);
  transform: rotate(40deg);
  background-color: #fff2ff;
  position: fixed;
  top: -20vw;
  right: -42vw;
  z-index: -1;
}
.about-title {
  margin-bottom: 40px;
  font-size: 3rem;
}
.about-info {
  display: flex;
  /* justify-content: space-evenly; */
}
.about-img {
  width: 42vw;
  height: 100%;
  object-fit: contain;
}

.about-info-des {
  padding-left: 3rem;
}
