.contact {
  margin-top: 100px;
  width: 90%;
  min-height: 40vh;
  display: block;
}

.contact::before {
  content: "";
  display: block;
  width: 100vw;
  height: 46vw;
  -webkit-transform: rotate(-40deg);
  transform: rotate(40deg);
  background-color: #fff2ff;
  position: fixed;
  top: -20vw;
  right: -42vw;
  z-index: -1;
}
.contact-dark::before {
  background-color: transparent;
}
