footer {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.Footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-info {
  flex: 4 2;
}

footer ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0;
  margin: 0 0 80px;
}

footer ul li {
  padding-right: 40px;
}
ul li {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.Footer-info ul li a {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px;
  font-family: 'PT Sans', sans-serif;
}

.Footer-light ul li a {
  color: #292922;
}
.Footer-dark ul li a {
  color: #cfceee;
}

.Footer-image {
  flex: 1 1;
  border-bottom: 50%;
}

.Footer .Footer-image img {
  width: 90%;
  height: 90%;
}
