.project-card {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 100px;
}
.project-card-reverse {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.project-info {
  padding: 60px;
  flex: 1 1;
  font-size: large;
  font-weight: bolder !important;
}
.project-image {
  flex: 2 1;
}

.project-info a {
  background-color: #818cab;
  text-decoration: none;
  font-weight: 700;
  min-width: 90px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  padding: 13px;
  border-radius: 5px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
